<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>



<h2> Cart id:<%= @cart.id %></h2>
<h3> Cart status:<%= @cart.status %></h4>



<!-- 假如說 相同產品 想要合併時 該如何做？ -->
<table class = 'table table-hover'>

<thead> 
	
<td><h3>Product</h3></td>
<td><h3>Price</h3></td>
<td><h3>Quantity</h3></td>
<td><h3>Total</h3></td>
<td><h3>Action</h3></td>

</thead>

<% sum = 0 %>
<tbody>
<% @line_items.each do |f| %>
	
	<tr>
	<td>

		<%= f.product.name %>
	</td> 
	<td>
		$<%= f.unit_price %>
	</td>
	<td>
		<%= f.quantity %>
	</td>
	<td>
		$<%= f.unit_price * f.quantity %>
		<% sum = sum + (f.unit_price * f.quantity)  %>
	</td>
	<td>

		<%= link_to "Delete", line_item_path(f), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>


	</td>

	<td>
	<%= link_to "更改" ,f.product %>


    <!-- 一陣錯亂,不知道如何更新購物車 -->
	

	</td>
	</tr>

<% end %>
<tr>
<td></td>
<td></td>
<td>Total: </td>
<td> $<%= sum %></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td> <%= link_to '結帳', root_path, :class => 'btn btn-danger' %></td></tr>
</tbody>
</table>






