

<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>


<table class="table table-inverse">
	<thead class ="thead-inverse">
		<tr>
			<th>id</th>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>stock</th>
		</tr>
	</thead>
	<tbody>
		
		<% @products.each do |product| %>
		<tr>
		<th> <%=product.id %>
		<th> <%=product.name %> </th>
		<th> <%=product.description %> </th>
		<th> <%=product.price %> </th>
		<th> <%=product.stock %> </th>
		<th><%= link_to "加入購物車", product_path(product) %></th>
		</tr>
		<% end %>

	</tbody>
</table>




