<!DOCTYPE html>
<html>
<head>
  <title>MyCart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<p><%= notice %></p>
<%= link_to '首頁', root_path %>
<%= link_to '我的購物車', cart_path %>




<%= yield %>
</div>
</body>
</html>
